{% extends 'base.html' %}
{% load static %}

{% block title %}WhatsApp{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <style>
        li {
            list-style-type: none; /* Убираем маркеры */
        }
    </style>
{% endblock %}

{% block content %}
    <div class="back-container">
        <div class="container-fluid front-container">
            <div class="back-top"></div>
            <div class="back-main"></div>
        </div>
        <div class="container front-container1">
            <div class="row">
                <div class="col-sm-4 contacts">
                    <div class="contact-table-scroll">
                        <input id="select" style="margin-top: 10px; margin-left: 35px;" placeholder="Хз как написать"/>
                        {#                        <tbody>#}
                        {% for user in users %}
                            {#                            <tr>#}
                            <ul class="table table-hover" id="list">
                                {#                                    <td>#}
                                {#                                    </td>#}
                                <li class="element"><a href="{% url 'v_profile' user.pk %}"><img
                                        src="{{ user.avatar.url }}" alt="" class="profile-image rounded-circle"></a><a
                                        href="{% url 'chat' username=user.username %}">
                                    {{ user.first_name }} {{ user.last_name }}</a>
                                    <p>Отдел {{ user.department }} на должности {{ user.position }}</p>
                                </li>

                            </ul>
                            {#                            </tr>#}
                        {% endfor %}
                        <!-- end -->
                        {#                        </tbody>#}

                    </div>

                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {
            var $elements = $('#list .element');
            $('#select').on('keyup input', function () {
                var value = this.value;
                $elements.hide();
                $elements.filter(':contains("' + value + '")').show();
            });
        });
    </script>

{% endblock %}