{% extends 'base.html' %}
{% load static %}

{% block title %}WhatsApp{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<div class="back-container">
    <div class="container-fluid front-container">
        <div class="back-top"></div>
        <div class="back-main"></div>
    </div>
    <div class="container front-container1">
        <div class="row">
            <div class="col-sm-4 contacts">
                <div class="contact-table-scroll">
                <input id="select" placeholder=""/>
{#                        <tbody>#}
                            {% for user in users %}
{#                            <tr>#}
                                <ul class="table table-hover" id="list">
{#                                    <td>#}
{#                                    </td>#}
                                    <a href="{% url 'chat' username=user.username%}"><li class="element"><img src="{{ user.avatar.url }}" alt="" class="profile-image rounded-circle">
                                        {{user.first_name}} {{ user.last_name }}</li></a>
                                </ul>
                            </tr>
                            {% endfor %}
                            <!-- end -->
{#                        </tbody>#}

                </div>

            </div>
        </div>
    </div>

</div>

    <script>
    $(document).ready(function() {
    var $elements = $('#list .element');
    $('#select').on('keyup input', function() {
        var value = this.value;
        $elements.hide();
        $elements.filter(':contains("' + value + '")').show();
    });
    });
    </script>

{% endblock %}