{% extends 'base.html' %}
{% load static %}

{% block title %}WhatsApp{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/media.css' %}">
    <style>
        li {
            list-style-type: none; /* Убираем маркеры */
        }

        .form-control1 {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="back-container">
        <div class="container-fluid front-container">
            <div class="back-top"></div>
            <div class="back-main"></div>
        </div>
        <div class="container front-container1">
            <div class="row chat-top">
                <div class="col-sm-4 border-right border-secondary">
                    <a href="{% url 'my_p' %}">
                        <img src="{{ request.user.avatar.url }}" alt="" class="profile-image rounded-circle">
                        <span class="ml-2">{{ request.user.first_name }} {{ request.user.last_name }}</span></a>
                    <span class="float-right mt-2">
                </span>
                </div>
                <div class="col-sm-8">
                    <a href="{% url 'v_profile' user.pk %}">
                        <img src="{{ user.avatar.url }}" alt="" class="profile-image rounded-circle">
                        <span class="ml-2">{{ user.first_name }} {{ user.last_name }}</span></a>
                    <span class="float-right mt-2">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd"
                              d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                    </svg>
                    <svg style="color:#ededed" width="1em" height="1em" viewBox="0 0 16 16"
                         class="bi bi-three-dots-vertical mx-3"
                         fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg>
                </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 contacts">
                    <div class="contact-table-scroll">
                        <input id="select" style="margin-top: 10px; margin-left: 35px;" placeholder="Хз как написать"/>
                        {#                        <tbody>#}
                        {% for user in users %}
                            {#                            <tr>#}
                            <ul class="table table-hover" id="list">
                                {#                                    <td>#}
                                {#                                    </td>#}
                                <li class="element"><a href="{% url 'v_profile' user.pk %}"><img
                                        src="{{ user.avatar.url }}" alt="" class="profile-image rounded-circle"></a><a
                                        href="{% url 'chat' username=user.username %}">
                                    {{ user.first_name }} {{ user.last_name }}</a>
                                    <p>Отдел {{ user.department }} на должности {{ user.position }}</p>
                                </li>

                            </ul>
                            {#                            </tr>#}
                        {% endfor %}
                        <!-- end -->
                        {#                        </tbody>#}

                    </div>

                </div>
                <div class="col-sm-8 message-area">
                    <div class="message-table-scroll">
                        <table class="table">
                            <tbody id='chat-body'>
                            {% for message in messages %}
                                {% if message.sender == request.user.username %}
                                    <tr>
                                        <td>
                                            <p class="bg-success p-2 mt-2 mr-5 shadow-sm text-white float-right rounded">
                                                {{ message.message }}
                                            </p>
                                        </td>
                                        <td>
                                            <p><small class="p-1 shadow-sm">{{ message.timestamp|time:'H:i' }}</small>
                                            </p>
                                        </td>
                                    </tr>
                                {% else %}
                                    {% if message.type_msg == 'file' %}
                                        <tr>
                                            <td>
                                                <a href="{% static message.message %}" download
                                                   class="bg-primary p-2 mt-2 mr-5 shadow-sm text-white float-left rounded">
                                                    {{ message.message }}
                                                </a>
                                            </td>
                                            <td>
                                                <p><small
                                                        class="p-1 shadow-sm">{{ message.timestamp|time:'H:i' }}</small>
                                                </p>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>
                                                <p class="bg-primary p-2 mt-2 mr-5 shadow-sm text-white float-left rounded">
                                                    {{ message.message }}
                                                </p>
                                            </td>
                                            <td>
                                                <p><small
                                                        class="p-1 shadow-sm">{{ message.timestamp|time:'H:i' }}</small>
                                                </p>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row message-box p-3">
                        {% if user_access == 2 %}
                            <p>нет прав</p>
                        {% else %}
                            <form method="post" style="display:flex;" enctype="multipart/form-data">

                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-success" style="margin-left: 5px; background-color: blue;"
                                        id="chat-file-submit" type="submit">send
                                </button>
                            </form>
                        {% endif %}
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="message_input" placeholder="Введите...">

                        </div>
                        <div class="col-sm-2 mt-1">
                            <button class="btn btn-success" style="background-color: blue;" id="chat-message-submit">
                                Написать
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                var $elements = $('#list .element');
                $('#select').on('keyup input', function () {
                    var value = this.value;
                    $elements.hide();
                    $elements.filter(':contains("' + value + '")').show();
                });
            });
        </script>
    </div>

    </div>
    {{ user.id|json_script:"json-username" }}
    {{ request.user.username|json_script:"json-message-username" }}
{% endblock %}
{% block javascript %}
    <script charset="utf-8" type="text/javascript" src="{% static 'js/chat.js' %}"></script>
{% endblock %}