* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
}

/* Container for flexboxes */
.row {
  display: -webkit-flex;
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  padding: 10px;
  margin-top:15px;
}

/* Style the footer */
.footer {
  background-color:gray;
  padding: 10px;
  text-align: center;
  margin-top:10px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer h2 {
    margin:auto;
}

.news{
    width:400px;
    height:600px;
    background-color:black;
    margin: auto;
}
.block{
    width:800px;
    height:100%;
    background-color:black;
    margin: auto;
    color:white;
    display:none;
}



.carousel{
  width: 100%;
  padding-bottom: 33%;
  position: relative;
  overflow: hidden;
}

.carousel__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  transition: transform 0.5s;
}

.carousel__figure,
.carousel__item {
  margin: 0;
  padding: 0;
  flex: 0 0 100%;
  width: 100%;
  position: relative;
}

.carousel__item__image {
  width: 100%;
}

.carousel__item__figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 1;
  text-transform: uppercase;
  padding: 1rem;
}

.carousel__button {
  position: absolute;
  top: 50%;
  background: white;
  border-radius: none;
  border-color: none;
}

.carousel__button--prev {
  left: 0;
}

.carousel__button--next {
  right: 0;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 30%;
}
